%h4 Incluir usuário
%hr

= form_for :user, :url => {:controller => 'user', :action => 'create'} do |f|
  %table.table
    %tr
      %th= label_tag :list_name, 'Nome'
      %td= f.text_field :name, class: 'form-control'
    %tr
      %th= label_tag :list_name, 'E-Mail'
      %td= f.text_field :email, class: 'form-control'
    %tr
      %th= label_tag :list_name, 'Grau de acesso'
      %td
        = f.select :access, [['Admin', 'admin'], ['Registrado', 'registrado']], {}, class: 'form-control'
  %div
    = submit_tag 'Salvar', class: 'btn btn-success'
    = submit_tag 'Cancelar', onclick: 'history.back()', class: 'btn btn-default'
  