%h4 Editar usuário
%hr

= form_for @user, :url => {:controller => 'user', :action => 'update'} do |f|
  %table.table
    %tr
      %th= label_tag :name, 'Nome'
      %td= f.text_field :name, class: 'form-control'
    %tr
      %th= label_tag :email, 'E-Mail'
      %td= f.text_field :email, class: 'form-control'
    %tr
      %th= label_tag :access, 'Grau de acesso'
      %td= f.select :access, [['Admin', 'admin'], ['Registrado', 'registrado']], {}, class: 'form-control'
    %tr
      %th
      = form_tag @user, method: 'delete' do
        %td
          = label_tag :delete, 'Deseja excluir usuário?'
          = submit_tag 'Deletar', class: 'btn btn-danger'

  = submit_tag 'Salvar', class: 'btn btn-success'
  = submit_tag 'Cancelar', onclick: 'history.back()', class: 'btn btn-default'
