%p #{@pub.ano}, #{@pub.periodico}
%p= @pub.autores.join(', ')

%table.table
  %tr
    %th ISSN
    %td= @pub.issn
  %tr
    %th DOI
    %td= @pub.doi
  %tr
    %th País
    %td= @pub.pais
  %tr
    %th Edição
    %td= @pub.edicao
  %tr
    %th Volume
    %td= @pub.volume
  %tr
    %th Fascículo
    %td= @pub.fasciculo
  %tr
    %th Páginas
    %td #{@pub.pag_inicial} a #{@pub.pag_final}