%div
  Filtrar por nome:
  = text_field_tag :filter

%br

%div
  = link_to "Incluir usuário", new_user_path

%hr
%ul
  - @pubs.each do |pub|
    %li
      [#{pub._type}]
      = link_to pub.titulo, pub_path(:id => pub.id)
      %br
      #{pub.autores.join(',')}