%h4 Nova publicação

%hr
= form_for :publicacao, :url => {:controller => 'pub', :action => 'create'} do |f|
  %table.table
    %tr
      %th= label_tag :_type, 'Tipo'
      %td= select_tag :_type, options_for_select([['Periódico', 'periodico'], ['Conferência', 'conferencia'], ['Livro', 'livro']], @type), :onchange => ('window.location = window.location.pathname+"?type="+this.value'), class: 'form-control', style: 'width:250px'
    %tr
      %th= label_tag :ano, 'Ano'
      %td= f.text_field :ano, type: 'number', class: 'form-control', style: 'width:100px'
    %tr
      %th= label_tag :titulo, 'Titulo'
      %td= f.text_field :titulo, class: 'form-control'
    %tr
      %th= label_tag :idioma, 'Idioma'
      %td= f.text_field :idioma, class: 'form-control', style: 'width:200px'
    %tr
      %th= label_tag :link, 'Link'
      %td= f.text_field :link, class: 'form-control'

    - if @type == 'periodico'
      %tr
        %th= label_tag :periodico, 'Periódico'
        %td= f.text_field :periodico, class: 'form-control'
      %tr
        %th= label_tag :issn, 'ISSN'
        %td= f.text_field :issn, class: 'form-control', style: 'width:150px'
      %tr
        %th= label_tag :doi, 'DOI'
        %td= f.text_field :doi, class: 'form-control', style: 'width:300px'
      %tr
        %th= label_tag :volume, 'Volume'
        %td= f.text_field :volume, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :fasciculo, 'Fascículo'
        %td= f.text_field :fasciculo, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :edicao, 'Edição'
        %td= f.text_field :edicao, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :pag_inicial, 'Páginas'
        %td
          = f.text_field :pag_inicial, type: 'number', placeholder: 'inicial', class: 'form-control', style: 'width:100px;float:left;'
          %p{style:'float:left;line-height:30px'} &nbsp;&nbsp;a&nbsp;&nbsp;
          = f.text_field :pag_final, type: 'number', placeholder: 'final', class: 'form-control', style: 'width:100px;float:left'
      %tr
        %th= label_tag :pais, 'País'
        %td= f.text_field :pais, class: 'form-control', style: 'width:200px'
      %tr
        %th= label_tag :autores, 'Autores'
        %td
          = text_field_tag 'autores[]', nil, class: 'form-control'
          = link_to "Adicionar autor", '#', :onclick => 'addAutor(this)'

    - if @type == 'livro'
      %tr
        %th= label_tag :doi, 'DOI'
        %td= f.text_field :doi, class: 'form-control', style: 'width:250px'
      %tr
        %th= label_tag :volume, 'Volume'
        %td= f.text_field :volume, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :edicao, 'Edição'
        %td= f.text_field :edicao, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :pais, 'País'
        %td= f.text_field :pais, class: 'form-control', style: 'width:250px'
      %tr
        %th= label_tag :autores, 'Autores'
        %td
          = text_field_tag 'autores[]', nil, class: 'form-control'
          = link_to "Adicionar autor", 'javascript:;', :onclick => 'addAutor(this)'

    - if @type == 'conferencia'
      %tr
        %th= label_tag :conference, 'Conferência'
        %td= f.text_field :conference, class: 'form-control'
      %tr
        %th= label_tag :isbn, 'ISBN'
        %td= f.text_field :isbn, class: 'form-control', style: 'width:150px'
      %tr
        %th= label_tag :doi, 'DOI'
        %td= f.text_field :doi, class: 'form-control', style: 'width:250px'
      %tr
        %th= label_tag :volume, 'Volume'
        %td= f.text_field :volume, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :fasciculo, 'Fascículo'
        %td= f.text_field :fasciculo, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :edicao, 'Edição'
        %td= f.text_field :edicao, class: 'form-control', style: 'width:50px'
      %tr
        %th= label_tag :pais, 'País'
        %td= f.text_field :pais, class: 'form-control', style: 'width:250px'
      %tr
        %th= label_tag :autores, 'Autores'
        %td
          = text_field_tag 'autores[]', nil, class: 'form-control'
          = link_to "Adicionar autor", '#', :onclick => 'addAutor(this)'

  %div
    = submit_tag 'Salvar', class: 'btn btn-success'
    = submit_tag 'Cancelar', onclick: 'history.back()', class: 'btn btn-default'
  