%h2 Publicação

= link_to 'Exportar', '#'
- if (@pub.enabled)
  = link_to 'Desativar', disable_pub_path(@pub), onclick: 'return confirm("Deseja desativar esta produção?")'
- else
  = link_to 'Ativar', enable_pub_path(@pub)

%hr

%b= @pub.titulo
%br

= render @pub._type.downcase
